@media screen and (min-width: 1000px){
    
.pageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin-top: 50px;
}

.contentContainer{
    width: 1000px;
    height: 800px;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.contentImagesRow{
    display:flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 900px;
    height: 200px;
}
.contentMainImageContainer{
    width:200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentMainImage{
    max-width:200px;
    max-height: 200px;
    height: auto;
    width:auto;
}
.contentHeader{
    font-size: 24px;

}
.contentMiniImagesColumn{
    margin-top:100px;
    width:60px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentMiniImage{
    width: 45px;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contentMiniImage:hover{
    box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
}

.contentMiniImageChosen{
    width: 45px;
    height: 45px;
    box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
}
.contentCharacteristicAndAddtoCollection{
    display: flex;
    width:900px;
    height: 400px;
    gap:30px;
}
.contentCharacteristics{
    display:flex;
    margin-left: 50px;
    margin-top: 20px;
    width: 450px;
    height: 400px;
    flex-direction: column;
    gap:10px;
}
.contentCharacteristicsRow{
    display:flex;
    justify-content: space-between;
    width: 400px;
    height: 20px;
    font-family: 'Sofia-Sans';
    font-size: 16px;
}
.selectCollection{
    width:100%;
    height: 50px;
    font-size: 16px;
    margin-top:20px;
    font-family: 'Sofia-Sans';

    background-color: white;
}

.minusButton{
    margin-top: 5px;
    font-size: 24px;
}

.minusButton:hover{
    cursor: pointer;
    color: #EB6E50;
}

.minusButton:active{
    color: red;
}
.contentCount{
    display: flex;
    font-size: 32px;
    margin-top: 30px;
    justify-content: center;
}
}

@media screen and (max-width: 1000px){

.pageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin-top: 50px;
}

.contentContainer{
    width: 500px;
    height: 800px;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.contentImagesRow{
    display:flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 450px;
    height: 100px;
}
.contentMainImageContainer{
    width:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentMainImage{
    max-width:100px;
    max-height: 100px;
    height: auto;
    width:auto;
}

.contentMiniImagesColumn{
    width:60px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentMiniImage{
    width: 45px;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contentMiniImage:hover{
    box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
}

.contentMiniImageChosen{
    width: 45px;
    height: 45px;
    box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
}
.contentCharacteristicAndAddtoCollection{
    display: flex;
    width:450px;
    height: 400px;
    gap:30px;
}
.contentCharacteristics{
    display:flex;
    margin-left: 25px;
    margin-top: 20px;
    width: 225px;
    height: 400px;
    flex-direction: column;
    gap:10px;
}
.contentHeader{
    font-size: 20px;
}
.contentCharacteristicsRow{
    display:flex;
    justify-content: space-between;
    width: 190px;
    height: 30px;
    font-family: 'Sofia-Sans';
    font-size: 14px;
}
.selectCollection{
    width:55%;
    height: 50px;
    font-size: 14px;
    margin-top:20px;
    font-family: 'Sofia-Sans';

    background-color: white;
}

.contentCount{
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    justify-content: center;
}
.minusButton{
    margin-top: 5px;
    font-size: 16px;
}

.minusButton:hover{
    cursor: pointer;
    color: #EB6E50;
}

.minusButton:active{
    color: red;
}

}