@media screen and (min-width: 1500px){ 
.catalogContainer{
    display: flex;
    position:absolute;
    margin-top: 50px;
}

.catalogSideBar{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
    height: 860px;
    width:250px;
    gap:10px;
}
.catalogContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.catalogContentRow{
    height: 250px;
    display: flex;
    justify-content: center;
    gap:20px;
}

.secondHeaderSearchfieldImg{
    width: 30px;
    height: 40px;
    position:absolute;
    margin-left:650px;
    cursor: pointer;
    z-index: 200;
}

.countryInput{
    width: 150px;
    margin-left:50px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
}

.historySelector{
    width: 150px;
    height: 34px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}

.secondHeaderSearchfieldInput{
    width: 700px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.catalogContentRowFilter{
    height: 10px;
    margin-top: 50px;
    display: flex;
    font-family: 'Sofia-Sans';
    font-size: 18px;
    gap:5px;
    align-items: center;
}

.catalogContentRowSearch{
    height: 50px;
    display: flex;
    gap:20px;
    align-items: flex-end;
}

.paginationRow{
    display: flex;
    justify-content: center;
    width: 1420px;
    height: 50px;
}

.paginationCell{
    background-color: #8A817C;
    height: 50px;
    width: 50px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationCell:hover{
    background-color: #221f1c;
    
}

.paginationCellChosen{
    background-color: #221f1c;
    height: 50px;
    width: 50px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastAddedMarksMark{
    height: 250px;
    margin-left: 25px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #FFFFFF;
    cursor: pointer;   
}


.lastAddedMarksMark:hover{
    color: #EB6E50;
    box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
}

.lastAddedMarksMarkImg{
    max-width:150px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.lastAddedMarksMarkImgField{
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastAddedMarksMarkText{
    font-size: 20px;
    width:200px;
    text-align: center;
}


.catalogFilters{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    height: 790px;
    width:250px;
    gap:20px;
    overflow: scroll;
}

.catalogCommitFilters{
    background-color: #463F3A;
    height: 50px;
    width: 250px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogCommitFilters:hover{
    background-color: #221f1c;
}

.catalogSideBarTitle{
    font-family: 'Sofia-Sans';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
}

.catalogSideBarFilterBlock{
    font-family: 'Sofia-Sans';
    font-size:20px;
    width:200px;
}

.selecter{
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-family: 'Sofia-Sans';
}

.inputFromTo{
    width: 190px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputFrom{
    width: 70px;
}

.inputFromToField{
    width:70px;
}
}

@media screen and (max-width: 1500px) and (min-width: 1000px){
     
    .catalogContainer{
        display: flex;
        position:absolute;
        margin-top: 50px;
    }
    
    .catalogSideBar{
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        justify-content: space-between;
        height: 860px;
        width:150px;
        gap:10px;
    }
    .catalogContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 850px;
        gap:50px;
    }
    
    .catalogContentRow{
        height: 250px;
        display: flex;
        gap:20px;

    }
    
    .secondHeaderSearchfieldImg{
        width: 30px;
        height: 40px;
        position:absolute;
        margin-left: 460px;
        cursor: pointer;
        z-index: 200;
    }

    .countryInput{
        width: 100px;
        margin-left:50px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
    }
    
    .historySelector{
        width: 100px;
        height: 34px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    }
    
    .secondHeaderSearchfieldInput{
        width: 500px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    

    .catalogContentRowFilter{
        height: 10px;
        margin-top: 50px;
        display: flex;
        font-family: 'Sofia-Sans';
        font-size: 14px;
        gap:5px;
        align-items: center;
    }
    
    .catalogContentRowSearch{
        height: 50px;
        margin-left: 50px;
        display: flex;
        gap:20px;
        align-items: flex-end;
    }
    
    .paginationRow{
        display: flex;
        justify-content: center;
        width: 800px;
        height: 50px;
    }
    
    .paginationCell{
        background-color: #8A817C;
        height: 50px;
        width: 50px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .paginationCell:hover{
        background-color: #221f1c;
        
    }
    
    .paginationCellChosen{
        background-color: #221f1c;
        height: 50px;
        width: 50px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lastAddedMarksMark{
        height: 200px;
        margin-left: 25px;
        width: 150px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: #FFFFFF;
        cursor: pointer;   
    }
    
    
    .lastAddedMarksMark:hover{
        color: #EB6E50;
        box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
    }
    
    .lastAddedMarksMarkImg{
        max-width:100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
    
    .lastAddedMarksMarkImgField{
        width: 100px;
        height: 100px;
        margin-top: 25px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lastAddedMarksMarkText{
        font-size: 20px;
        width:150px;
        text-align: center;
    }
    
    
    .catalogFilters{
        display: flex;
        flex-direction: column;
        height: 790px;
        width:150px;
        gap:20px;
        font-size: 18px;
        overflow: scroll;
    }
    
    .catalogCommitFilters{
        background-color: #463F3A;
        height: 50px;
        width: 150px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .catalogCommitFilters:hover{
        background-color: #221f1c;
    }
    
    .catalogSideBarTitle{
        font-family: 'Sofia-Sans';
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
    }
    
    .catalogSideBarFilterBlock{
        font-family: 'Sofia-Sans';
        font-size:18px;
        width:150px;
    }
    
    .selecter{
        width: 150px;
        height: 30px;
        font-size: 16px;
        font-family: 'Sofia-Sans';
    }
    
    .inputFromTo{
        width: 140px;
        height: 30px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .inputFrom{
        width: 70px;
    }
    
    .inputFromToField{
        width:70px;
    }
}


@media screen and (max-width: 1000px){
     
    .catalogContainer{
        display: flex;
        position:absolute;
        margin-top: 50px;
    }
    
    .catalogSideBar{
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        justify-content: space-between;
        height: 860px;
        width:80px;
        gap:10px;
    }
    .catalogContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
    
    .catalogContentRow{
        height: 250px;
        display: flex;
        gap:20px;

    }
    
    .secondHeaderSearchfieldImg{
        width: 20px;
        height: 40px;
        position:absolute;
        cursor: pointer;
        margin-left: 230px;
        z-index: 200;
    }
    
    .secondHeaderSearchfieldInput{
        width: 260px;
        height: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    
    .catalogContentRowFilter form input {
        width:10px;
        height: 10px;
    }
    .catalogContentRowFilter{
        height: 10px;
        margin-top: 50px;
        display: flex;
        font-family: 'Sofia-Sans';
        font-size: 8px;
        align-items: center;
    }
    
    .catalogContentRowSearch{
        height: 50px;
        margin-left: 50px;
        display: flex;
        gap:20px;
        align-items: flex-end;
    }
    
    .paginationRow{
        display: flex;
        justify-content: center;
        width: 200px;
        height: 25px;
    }
    
    .paginationCell{
        background-color: #8A817C;
        height: 25px;
        width: 25px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .paginationCell:hover{
        background-color: #221f1c;
        
    }
    
    .paginationCellChosen{
        background-color: #221f1c;
        height: 25px;
        width: 25px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lastAddedMarksMark{
        height: 200px;
        margin-left: 25px;
        width: 120px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: #FFFFFF;
        cursor: pointer;   
    }
    
    
    .lastAddedMarksMark:hover{
        color: #EB6E50;
        box-shadow: #EB6E50 0px 3px 6px, #EB6E50 0px 3px 6px;
    }
    
    .lastAddedMarksMarkImg{
        max-width:100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }

    .countryInput{
        width: 50px;
        margin-left:5px;
        height: 20px;
        font-size: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
    }
    
    .historySelector{
        width: 50px;
        height: 20px;
        margin-left:5px;
        font-size: 8px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    }

    .lastAddedMarksMarkImgField{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lastAddedMarksMarkText{
        font-size: 14px;
        width:120px;
        text-align: center;
    }
    
    
    .catalogFilters{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        height: 790px;
        width:100px;
        gap:20px;
        font-size: 18px;
        overflow: scroll;
    }
    
    .catalogCommitFilters{
        background-color: #463F3A;
        height: 50px;
        width: 90px;
        color:white;
        font-family: 'Sofia-Sans';
        font-size: 14px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .catalogCommitFilters:hover{
        background-color: #221f1c;
    }
    
    .catalogSideBarTitle{
        font-family: 'Sofia-Sans';
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 50px;
    }
    
    .catalogSideBarFilterBlock{
        font-family: 'Sofia-Sans';
        font-size:14px;
        width:90px;
    }
    
    .selecter{
        width: 90px;
        height: 30px;
        font-size: 10px;
        font-family: 'Sofia-Sans';
    }
    
    .inputFromTo{
        width: 90px;
        height: 30px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .inputFrom{
        width: 45px;
    }
    
    .inputFromToField{
        width:45px;
    }
}