.catalogContainer{
    display: flex;
    width:1920px;
    height: 850px;
    margin-top: 50px;
}

.catalogSideBar{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
    height: 860px;
    width:250px;
    gap:10px;
}
.catalogContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1420px;
    height: 860px;
    gap:50px;
}

.catalogContentRow{
    width:1420px;
    height: 250px;
    display: flex;
    gap:20px;
}

.secondHeaderSearchfieldImg{
    width: 30px;
    height: 40px;
    position:absolute;
    left:940px;
    cursor: pointer;
    z-index: 1000;
}

.secondHeaderSearchfieldInput{
    width: 700px;
    border-radius: 10px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.catalogContentRowSearch{
    width:1420px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    gap:20px;
    align-items: flex-end;
}

.paginationRow{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 50px;
}

.paginationCell{
    background-color: #8A817C;
    height: 50px;
    width: 50px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationCell:hover{
    background-color: #221f1c;
    
}

.paginationCellChosen{
    background-color: #221f1c;
    height: 50px;
    width: 50px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastAddedMarksMark{
    height: 250px;
    margin-left: 25px;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #FFFFFF;
    cursor: pointer;   
}


.lastAddedMarksMark:hover{
    color: orange;
    box-shadow: orange 0px 3px 6px, orange 0px 3px 6px;
}

.lastAddedMarksMarkImg{
    width:150px;
    height: 150px;
    margin-top: 25px;
    margin-left: 25px;
}

.lastAddedMarksMarkText{
    font-size: 20px;
    width:200px;
    text-align: center;
}


.catalogFilters{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    height: 790px;
    width:250px;
    gap:20px;
    overflow: scroll;
}

.catalogCommitFilters{
    background-color: #463F3A;
    height: 50px;
    width: 250px;
    color:white;
    font-family: 'Sofia-Sans';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogCommitFilters:hover{
    background-color: #221f1c;
}

.catalogSideBarTitle{
    font-family: 'Sofia-Sans';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
}

.catalogSideBarFilterBlock{
    font-family: 'Sofia-Sans';
    font-size:20px;
    width:200px;
}

.selecter{
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-family: 'Sofia-Sans';
}

.inputFromTo{
    width: 190px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputFrom{
    width: 70px;
}

.inputFromToField{
    width:70px;
}