@font-face{
    font-family: "Sofia-Sans";
    src: url("./fonts/Inter-Regular.otf");
}

body{
    position:absolute;
    background-color: #F4F3EE;
    width: 1920px;

    font-family: "Sofia-Sans";
}
