@font-face{
    font-family: "Sofia-Sans";
    src: url("./fonts/SofiaSans-VariableFont_wght.ttf");
}
html{
    position: absolute;
    width: 100%;
    left:-0.4%;
}
body{
    position:absolute;
    background-color: #F4F3EE;
    width: 100%;
    font-family: "Sofia-Sans";
}
