@font-face{
    font-family: "Sofia-Sans";
    src: url("./fonts/SofiaSans-VariableFont_wght.ttf");
}

body{
    position:absolute;
    background-color: #F4F3EE;
    display:flex;
    flex-direction: column;
    align-items: center;
}
