.secondHeaderContainer{
    background-color: #8A817C;
    position:fixed;
    z-index: 500;
    display: flex;
    flex-direction: column;
    border-bottom: black 1px solid;
    height: 50px;
    width: 1fr;
    justify-content: space-between;
}
.secondHeader{
    background-color: #8A817C;
    position:fixed;
    z-index: 500;
    display: flex;
    border-bottom: black 1px solid;
    height: 50px;
    width:100%;
    left:0%;
    justify-content: space-between;
}

.secondHeaderSearchfield{
    width: 500px;
    padding-left:200px;
    height: 50px;
    display: flex;
    align-items: center;
}
.searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px black solid;
    overflow-y: scroll;
    z-index: 1000;
}
.secondHeaderSearchfieldInput{
    width: 500px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.secondHeaderSearchResult{
    width: 500px;
    height: 30px;
    background-color: white;
}


.secondHeaderSearchfieldImg{
    width: 20px;
    height: 20px;
    position:absolute;
    left:670px;
    cursor: pointer;
    z-index: 1000;
}

.secondHeaderCabinet{
    padding-right: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    color:#221f1c;
    font-size: 24px;
    font-family: "Sofia-Sans";
    cursor: pointer;
    font-weight: 200;
}

.secondHeaderCabinet:hover{
    color: orange;
}

.secondHeaderCabinetLink{
    text-decoration: none;
    color:#221f1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondHeaderCabinetLink:hover{
    color: orange;
}