.content{
    width:1000px;
    height: 800px;
    background-color: white;
    margin-top: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
}

.searchField{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width:800px;
    height: 50px;
}

.searchFieldInput{
    width: 800px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.secondHeaderSearchfieldImg{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 700px;
    cursor: pointer;
    z-index: 1000;
}

.usersTable{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width:800px;
    display: flex;
    flex-direction: column;
    height: 680px;
    overflow-y: scroll;
    font-size:24px;
    font-family: "Sofia-Sans";
}

.usersTableRow{
    display: flex;
    width: 800px;
    height: 60px;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.usersTableRow:hover{
    color:orange;
    cursor: pointer;
}
