

.body{
    top: 40px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    background-color: #F4F3EE;
}

.bodyContent{
    position:absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}